<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReadLogpFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <ReadLogpFile.Properties.Settings>
      <setting name="TemperatureLogFileDropDirectory" serializeAs="String">
        <value>%userprofile%\Documents\Mijn Frigo Temperaturen</value>
      </setting>
      <setting name="TemperatureLogFileProcessedDirectory" serializeAs="String">
        <value>%userprofile%\Documents\Mijn Frigo Temperaturen\Verwerkt</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value>send.one.com</value>
      </setting>
      <setting name="MailUserName" serializeAs="String">
        <value>sigrid@apotheeksaelens.be</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>kippetje</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="TemperatureLogDatabase" serializeAs="String">
        <value>c:\programdata\ApotheekSaelens\Temperaturen\Temperaturen.db</value>
      </setting>
    </ReadLogpFile.Properties.Settings>
  </applicationSettings>
</configuration>